* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  /* display: none; */
  display:inline-block;
  
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #080247;
  font-weight: bold;
  font-size: 42px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


.card_r {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 85%;
    background-color: #e5f1f2;
    /* height: 85%; */
    /* display:inline-block; */
  }

.card_r:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card_mar {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 85%;
  background-color: #ffffff;
  /* height: 85%; */
  display:inline-block;
}

.card_mar:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 2px 16px;
}

#resp-table {
  width: 100%;
  display: table;
}
#resp-table-body{
  display: table-row-group;
}
.resp-table-row{
  display: table-row;
}
.table-body-cell{
  display: table-cell;
  border: 1px solid #dddddd;
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
}

.inputWithin {
  position: relative; 
  display: inline-block;
}		
.inputWithin .img { /*左邊圖示*/
  position: absolute; 			
  left: 10px;
  top: calc(50% - 0.5em);
}

.box_div {
  width: 80%;
  padding: 10px;
  border: 5px solid gray;

  margin-left: auto;
  margin-right: auto;
}

button.html5-qrcode-element {
  color: 'red';
  border: '1px solid red';
}